<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Schedule</title>
</head>
<body>
<center>
<h1>{{month}} Schedule</h1>
</center>
<div>{{d1}}</div>
<div>{{d2}}</div>
<div>{{d3}}</div>
<div>{{d4}}</div>
<div>{{d5}}</div>
<div>{{d6}}</div>
<div>{{d7}}</div>
<div>{{d8}}</div>
<div>{{d9}}</div>
<div>{{d10}}</div>
<div>{{d11}}</div>
<div>{{d12}}</div>
<div>{{d13}}</div>
<div>{{d14}}</div>
<div>{{d15}}</div>
<div>{{d16}}</div>
<div>{{d17}}</div>
<div>{{d18}}</div>
<div>{{d19}}</div>
<div>{{d20}}</div>
<div>{{d21}}</div>
<div>{{d22}}</div>
<div>{{d23}}</div>
<div>{{d24}}</div>
<div>{{d25}}</div>
<div>{{d26}}</div>
<div>{{d27}}</div>
<div>{{d28}}</div>
<div>{{d29}}</div>
<div>{{d30}}</div>
<div>{{d31}}</div>

<div class='middle'>
	<a href="https://on-call.invtrdan.repl.co/">
		<button><</button>
	</a> 
</div>
  
</body>
</html>